<?xml version="1.0" encoding="UTF-8" ?>     
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="outputConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %5p  (%c.java:%L) - %m%n" />
		</layout>

		<!--过滤器设置输出的级别 -->
		<!--日记记录的优先级priority，优先级由高到低分为 OFF ,FATAL ,ERROR ,WARN ,INFO ,DEBUG ,ALL。 Log4j建议只使用FATAL ,ERROR ,WARN ,INFO ,DEBUG这五个级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="trace" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="outputFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="componentlogs\\log.log" /><!-- 设置日志输出文件名 -->
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<!-- 设置文件大小 -->
		<param name="MaxFileSize" value="50MB" />
		<!-- 设置文件备份数量 -->
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{MM-dd HH:mm:ss SSS\} [%t] %-5p] (%c:%L)- %m%n" />
		</layout>
	</appender>

	<logger name="com.xquant.component.common.excelbuilder" additivity="false">
		<level class="org.apache.log4j.Level" value="trace" />
		<appender-ref ref="outputConsole" />
		<appender-ref ref="outputFile" />
	</logger>


	<logger name="org.springframework.jdbc.core.JdbcTemplate" additivity="false">
		<level class="org.apache.log4j.Level" value="trace" />
		<appender-ref ref="outputConsole" />
		<appender-ref ref="outputFile" />
	</logger>

	<root>
		<priority value="error" />
		<appender-ref ref="outputConsole" />
		<appender-ref ref="outputFile" />
	</root>

</log4j:configuration>